/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #1a202c;
    color: #a0aec0;
}

body.dark-mode .main-sidebar {
    background-color: #2d3748 !important;
}

body.dark-mode .brand-link {
    border-bottom: 1px solid #4a5568 !important;
}

body.dark-mode .nav-sidebar .nav-link {
    color: #a0aec0 !important;
}

body.dark-mode .nav-sidebar .nav-link:hover {
    background-color: #4a5568 !important;
}

body.dark-mode .nav-sidebar .nav-link.active {
    background-color: #4299e1 !important;
    color: #ffffff !important;
}

body.dark-mode .main-header {
    background-color: #2d3748 !important;
    border-bottom: 1px solid #4a5568 !important;
}

body.dark-mode .main-header .nav-link {
    color: #a0aec0 !important;
}

body.dark-mode .content-wrapper {
    background-color: #1a202c !important;
}

body.dark-mode .card {
    background-color: #2d3748;
    color: #a0aec0;
    border: 1px solid #4a5568;
}

body.dark-mode .card-header {
    border-bottom: 1px solid #4a5568;
}

body.dark-mode .table {
    color: #a0aec0;
}

body.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

body.dark-mode .form-control {
    background-color: #4a5568;
    color: #a0aec0;
    border-color: #718096;
}

body.dark-mode .form-control:focus {
    background-color: #4a5568;
    color: #a0aec0;
    border-color: #4299e1;
}

body.dark-mode .btn-primary {
    background-color: #4299e1;
    border-color: #4299e1;
}

body.dark-mode .btn-secondary {
    background-color: #718096;
    border-color: #718096;
}
